{% extends "base.html" %} {% load static %}
{% block title %} Edit Profile {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <br>
            <div class="col-md-4">Username: {{ user.username }}</div>
            <br>
            {% if profile.avatar %}
            <div class="col-md-4">Picture</div>
            <img src="{{ profile.avatar.url }}" style="max-width: 20%; border-radius: 15%;" class="col-md-4">
            {% else %}
            <h5 class="col-md-4">No picture</h5>
            {% endif %}
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <!-- avatar -->
                <div class="form-group col-md-4">
                    <label for="avatar">Upload</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- phone -->
                <div class="form-group col-md-4">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}">
                </div>
                <!-- Email -->
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ profile.email }}">
                </div>
                <!--Profession -->
                <div class="form-group col-md-4">
                    <label for="profession">Profession</label>
                    <input type="text" class="form-control" id="profession" name="profession" value="{{ profile.profession }}">
                </div>
                <!-- English -->
                <div class="form-group col-md-4">
                    <label for="english_level">English Level</label>
                    <input type="text" class="form-control" id="english_level" name="english_level" value="{{ profile.english_level }}">
                </div>
                <!-- Location -->
                <div class="form-group col-md-4">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{ profile.location }}">
                </div>
                 <!-- Name -->
                <div class="form-group col-md-4">
                    <label for="real_name">Name</label>
                    <input type="text" class="form-control" id="real_name" name="real_name" value="{{ profile.real_name }}">
                </div>
                 <!-- Nationality -->
                <div class="form-group col-md-4">
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" id="nationality" name="nationality" value="{{ profile.nationality }}">
                </div>
                <!-- bio -->
                <div class="form-group col-md-4">
                    <label for="bio">Bio Card</label>
                    <textarea type="text" class="form-control" id="bio" name="bio"
                              rows="12">{{ profile.bio }}</textarea>
                </div>
                <!--skill1-->
                <div class="form-group col-md-4">
                    <label for="skill1">Skill1</label>
                    <input type="text" class=form-control" id="skill1" name="skill1" value="{{ profile.skill1 }}">
                </div>
                <!--skill2-->
                <div class="form-group col-md-4">
                    <label for="skill2">Skill2</label>
                    <input type="text" class="form-control" id="skill2" name="skill2" value="{{ profile.skill2 }}">
                </div>
                <!--skill3-->
                <div class="form-group col-md-4">
                    <label for="skill3">Skill3</label>
                    <input type="text" class="form-control" id="skill3" name="skill3" value="{{ profile.skill3 }}">
                </div>
                <!--skill4-->
                <div class="form-group col-md-4">
                    <label for="skill4">Skill4</label>
                    <input type="text" class="form-control" id="skill4" name="skill4" value="{{ profile.skill4 }}">
                </div>
                <!--skill5-->
                <div class="form-group col-md-4">
                    <label for="skill5">Skill5</label>
                    <input type="text" class="form-control" id="skill5" name="skill5" value="{{ profile.skill5 }}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

{%endblock content%}