<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
Post Detail
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

{% block headerImg %}
{% include 'postDetailImg.html' %}
{% endblock headerImg %}

<div class="container">
    <div class="row">
        <div class="col-12 alert alert-success">
            · <a href="#" onclick="confirm_safe_delete()">Delete</a>
            · <a href="{% url 'myBlog:article_update' article.id %}">Edit</a>
            <!-- hidden form for csrf_token -->
            <form
                    style="display:none;"
                    id="safe_delete"
                    action="{% url 'myBlog:article_safe_delete' article.id %}"
                    method="POST"
            >
                {% csrf_token %}
                <button type="submit">send</button>
            </form>
        </div>

        <!--about author-->
        <div class="col-lg-10 col-md-11 mx-auto">
            <div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                    <img src="{% static 'img/blog.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <h3>George Washington</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                        voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                        similique,
                        inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>
        </div>

        <!-- post content -->
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ article.content|safe }}</p>
        </div>

        <!--Tag system-->
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="tag-widget post-tag-container mb-5 mt-5">
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">Life</a>
                    <a href="#" class="tag-cloud-link">Sport</a>
                    <a href="#" class="tag-cloud-link">Tech</a>
                    <a href="#" class="tag-cloud-link">Travel</a>
                </div>
            </div>
        </div>

    </div> <!-- row-->
</div> <!--container-->


<!--comment form-->
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Leave a comment</h3>
        <form action="#" class="p-3 p-md-5 bg-light">
            <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control" id="website">
            </div>

            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
            </div>

        </form>
    </div>
</div>

</div>

<!--javascript-->
<script>
    function confirm_safe_delete() {
        layer.open({
            title: "Confirm",
            content: "Do you want to DELETE this post?",
            yes: function (index, layero) {
                $('form#safe_delete button').click();
                layer.close(index);
            }
        })
    }

    window.sr = ScrollReveal();
    sr.reveal('.col-lg-8', {
        duration: 1000,
        origin: 'bottom',
        distance: '300px',
        viewFactor: 0.2
    });
     sr.reveal('.about-author', {
        duration: 1000,
        origin: 'bottom',
        distance: '300px',
        viewFactor: 0.2
    });
</script>

{% endblock content %}