{% extends "base.html" %}
{% load static %}

{% block title %}
Welcome to my Blog!
{% endblock title %}

{% block content %}

{% block headerImg %}
{% include 'homePageImg.html' %}
{% endblock headerImg %}

<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!--Search-->
            {% if search %}
            {% if articles %}
            <h4>The result related to <span style="color: red">"{{ search }}"</span> are as follows：</h4>
            <hr>
            {% else %}
            <h4>No related to <span style="color: red">"{{ search }}"</span></h4>
            <hr>
            {% endif %}
            {% endif %}

            <h5 style="padding-left: 75%">
                <a href="{% url 'myBlog:home' %}">
                    <i class="far fa-clock"></i>
                    Recent
                </a>
                |
                <a href="{% url 'myBlog:article_list' %}?order=total_views">
                    <i class="fas fa-fire-alt"></i>
                    Popular
                </a>
            </h5>

            <!-- Blog Post -->
            {% for article in articles %}
            <div class="post-preview">
                <a href="{% url 'myBlog:article_detail' article.id %} ">
                    <h2 class="post-title">
                        {{ article.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{article.content|slice:'50'}}
                    </h3>
                    <!--                    {% if article.avatar %}-->
                    <!--                    <div class="col-3">-->
                    <!--                        <img src="{{ article.avatar.url }}" alt="avatar" style="max-width:100%; border-radius: 20px" >-->
                    <!--                    </div>-->
                    <!--                    {% endif %}-->
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{article.author}}</a>
                    on {{article.created_time}}
                    <i style="padding-left: 280px" class="far fa-eye"></i>
                    Views: {{ article.total_views }}
                </p>
            </div>
            <hr>
            {% endfor %}

            <!-- Pagination -->
            <span style="margin-left: 42.75%;">
                 Page {{ articles.number }} of {{ articles.paginator.num_pages }}
             </span>
            <ul class="pagination justify-content-center mb-4">
                <!--if this is not the first page, then show the Newer button-->
                {% if articles.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.previous_page_number }}">&larr; Newer</a>
                </li>
                {% endif %}
                {% if articles.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ articles.next_page_number }}">Older &rarr;</a>
                </li>
                {% endif %}
                {% if not articles.has_next and not articles.has_previous%}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Newer</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#}">Older &rarr;</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget new -->
            <div class="sidebar-box pt-md-4">
                <h3 class="sidebar-heading"><i class="fas fa-search"></i> Search</h3>
                <form action="#" class="search-form"
                      href="{% url 'myBlog:article_list' %}?order=total_views&search={{ search }}">
                    <div class="form-control1" >
                        <span class="icon icon-search"></span>
                        <input type="text" class="form-control1" name="search" placeholder="Type a keyword and hit enter"
                               required>
                    </div>
                </form>
            </div>

            <!-- Categories Widget new-->
            <div class="sidebar-box">
                <h3 class="sidebar-heading"><i class="fas fa-columns"></i> Categories</h3>
                <ul class="categories">
                    {% for article in articles_all %}
                    <li><a href="{% url 'myBlog:article_list' %}?column={{ article.column }}">
                        {{article.column}}
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            </div>

            <!--sidebar widget-->
            <div class="sidebar-box">
                <h3 class="sidebar-heading"><i class="fab fa-hotjar"></i> Popular Articles</h3>
                {% for article in articles_view_list %}
                <div class="block-21 mb-4 d-flex">
                    {% if article.avatar %}
                    <a class="blog-img mr-4" style="background-image: url({{ article.avatar.url }});"></a>
                    {% else %}
                    <a class="blog-img mr-4" style="background-image: url({% static 'img/image_1.jpg' %});"></a>
                    {% endif %}
                    <div class="text">
                        <h3 class="heading"><a href="#">{{ article.title }}</a></h3>
                        <div class="meta">
                            <div><a href="#">{{article.created_time}}</a></div>
                            <br>
                            <div><a href="#"> {{article.author}}</a></div>
                            <br>
                            <div>
                                <i class="far fa-eye"></i>
                                {{ article.total_views }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /.container -->

<script>
    window.sr = ScrollReveal();
    sr.reveal('.post-preview', {
        duration: 2000,
        origin: 'left',
        distance: '300px',
        viewFactor: 0.2
    });
    sr.reveal('.sidebar-heading', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
        viewFactor: 0.2
    });
    sr.reveal('.sidebar-box', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
        viewFactor: 0.2
    });
    sr.reveal('.page-item', {
        duration: 2000,
        origin: 'bottom',
        delay: 800,
        distance: '300px',
        viewFactor: 0.2
    });
</script>

{% endblock content %}