{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock title %}

{% block content %}
<!-- Begin page content -->
<br>
<main role="main" class="container">
    <div class="mt-5"></div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-4">
                    <img
                            src="{% static 'img/selfie.JPG'%}"
                            alt="..."
                            class="rounded-circle profile-image"
                    />
                </div>
                <div class="col-md-8 top-col">
                    <h1 class="" style="font-family: inherit;">Yueyi Wang</h1>
                    <span style="color: #4e555b">Student @ University of Birmingham</span>

                    <ul style="font-family: normal;font-size: 16px;color: #4e555b">
                        <li><i class="fas fa-home"></i> The Metalworks,50 Aston Webb Boulevard,Birmingham</li>
                        <li><i class="far fa-envelope"></i> YXW835@bham.ac.uk</li>
                        <li><i class="fas fa-phone"></i> (+44)7873709453</li>
                        <li><i class="fas fa-search"></i> www.yueyi.pythonanywhere.com</li>
                    </ul>

                    <ul class="social-icons">
                        <li class="linkedin">
                            <a href="https://www.linkedin.com/in/"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li class="github">
                            <a href="https://github.com/"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li class="medium">
                            <a href="https://medium.com/_"><i class="fa fa-fw fa-medium"></i></a>
                        </li>
                        <li class="mail">
                            <a href="mailto:name@email.com"><i class="fa fa-fw fa-envelope"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
  <div class="content">
    <hr class="divider"/>
    <h5 style="text-decoration:underline">PERSONAL STATEMENT</h5>
    <p class="personal-statement" >
     Junior year computer science student at the University of Birmingham. Inquisitive computer science specialist with 8+ years of experience. Looking to leverage strong programming skills as a developer for Acme.
        Led a team of 11 coders at Halcyon-Berth Systems. Delivered projects an average of 10% before deadline, with 15% less errors than other teams.
        Trained 25 programmers in cloud computing skills.
    </p>
    <hr class="divider"/>
    <h5 style="text-decoration:underline">EDUCATION</h5>
      <p style="font-weight: bold; margin: 10px 0 0;font-size: 20px">
          Shandong University
          <span style="padding-left: 45%;font-weight: normal;font-size: 18px">
            2017-2018
        </span>
          <br>
      </p>
      <span style="font-size: 20px">Pre-sessional Course<br></span>
      <span style="font-size: 20px">Average: 80%</span>

    <p style="font-weight: bold; margin: 10px 0 0;font-size: 20px">
        University of Birmingham
        <span style="padding-left: 39%;font-weight: normal;font-size: 18px">
            Expected Graduation: July 2021
        </span>
        <br>
    </p>
      <span style="font-size: 20px">Bachelor of Science in Computer Science (BSc)</span>

    <strong><p style="margin: 10px 0;font-size: 18px">Modules Include:</p></strong>
    <div class="row" style="margin: 10px 0;font-size: 18px">
      <div class="col-sm-6">
        <ul>
          <li>Module 1</li>
          <li>Module 2</li>
          <li>Module 3</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Module 4</li>
          <li>Module 5</li>
          <li>Module 6</li>
        </ul>
      </div>
    </div>

      <hr class="divider"/>
      <h5 style="text-decoration:underline">TEAM PROJECTS</h5>
      <strong><p>Project 1</p></strong>
      <p class="description-text">
          Include a description about your project, mentioning any specific technologies that you used.
      </p>

      <hr class="divider"/>
      <h5 style="text-decoration:underline">PERSONAL PROJECTS</h5>
      <strong><p>Project 1</p></strong>
      <p class="description-text">
          Include a description about your project, mentioning any specific technologies that you used.
      </p>

      <hr class="divider"/>
      <h5 style="text-decoration:underline">SKILLS & INTERESTS</h5>
      <ul class="col-sm-6" style="padding-top: 10px">
          <li>daffas</li>
          <li>daffas</li>
          <li>daffas</li>
          <li>daffas</li>
          <li>daffas</li>
      </ul>

  </div>

          <a href="{https://github.com/}" class="btn btn-primary active" role="button" aria-pressed="true">Edit</a>
</main>


<script>
  window.sr = ScrollReveal();
  sr.reveal('.col-md-4', {
    duration: 2000,
    origin: 'left',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.col-md-8', {
    duration: 2000,
    origin: 'right',
    distance: '300px',
    viewFactor: 0.2
  });
  sr.reveal('.content', {
    duration: 2000,
    origin: 'bottom',
    distance: '300px',
    delay:1000,
    viewFactor: 0.2
  });
</script>

{%endblock content%}